#barra_pesquisa{
    height: 10vh;
}

#botao_pesquisa{
    margin-top: 1vh;
    width: 8vh;
    height: 8vh;
}

.registrosDaTabela{
    font-size: 14px;
    width:80%;
    margin-left: 0;
}

.campo-lista{
    font-weight: bolder;
    
}