<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

<!-- <ion-label>{{ this.funcionariosCadastrados }}</ion-label> -->

<form #pesquisar_funcionario='ngForm' (ngSubmit)="pesquisarFuncionarioFiltrado(pesquisar_funcionario.value)">
    <ion-row>
      <ion-col size="8">
        <ion-searchbar ngModel name="search" fill="outline" placeholder="Pesquisar Funcionário" ngModel id="barra_pesquisa"></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-list>
          <ion-item>
            <ion-select fill="solid" aria-label="Filtro" ngModel name="filtro" value="filtro">
              <ion-select-option value="Nome">Nome</ion-select-option>
              <ion-select-option value="Cargo">Cargo</ion-select-option>
              <ion-select-option value="Cidade">Cidade</ion-select-option>
              <ion-select-option value="Fone">Telefone</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col>
        <ion-button type="submit" id="botao_pesquisa" fill="outline"><ion-icon name="search-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </form>
    
  <ion-row>
    <ion-button id="open-modal" color="success"shape="round">+ Novo Funcionário</ion-button>
  </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-list>

          <ion-grid>
            <ion-row>
                <ion-col class="campo-lista">NOME</ion-col>
                <ion-col class="campo-lista">SOBRENOME</ion-col>
                <ion-col class="campo-lista">SALÁRIO</ion-col>
                <ion-col class="campo-lista">DT. NASC</ion-col>
                <ion-col class="campo-lista">ENDEREÇO</ion-col>
                <ion-col class="campo-lista">CIDADE</ion-col>
                <ion-col class="campo-lista">CEP</ion-col>
                <ion-col class="campo-lista">PAÍS</ion-col>
                <ion-col class="campo-lista">TELEFONE</ion-col>
                <ion-col class="campo-lista">CARGO</ion-col>
            </ion-row>
          </ion-grid>

          <ng-container *ngFor="let funcionario of this.funcionariosCadastrados">
            <form #atualizar_funcionario='ngForm' (ngSubmit)="atualizarFuncionario(funcionario.CodFun, atualizar_funcionario.value)">
            <ion-item>
                <ion-input [(ngModel)]="funcionario.Nome" class="registrosDaTabela" name="nome"></ion-input>
                <ion-input [(ngModel)]="funcionario.Sobrenome" class="registrosDaTabela" name="sobrenome"></ion-input>
                <ion-input [(ngModel)]="funcionario.Salario" class="registrosDaTabela" name="salario"></ion-input>
                <ion-input [(ngModel)]="funcionario.DataNasc" class="registrosDaTabela" name="dataNasc"></ion-input>
                <ion-input [(ngModel)]="funcionario.Endereco" class="registrosDaTabela" name="endereco"></ion-input>
                <ion-input [(ngModel)]="funcionario.Cidade" class="registrosDaTabela" name="cidade"></ion-input>
                <ion-input [(ngModel)]="funcionario.CEP" class="registrosDaTabela" name="cep"></ion-input>
                <ion-input [(ngModel)]="funcionario.Pais" class="registrosDaTabela" name="pais"></ion-input>
                <ion-input [(ngModel)]="funcionario.Fone" class="registrosDaTabela" name="fone"></ion-input>
                <ion-input [(ngModel)]="funcionario.Cargo" class="registrosDaTabela" name="cargo"></ion-input>
                
              <ion-button color="success" type="submit"><ion-icon name="checkmark-outline"></ion-icon></ion-button> 
              <ion-button color="danger" (click)="deletarFuncionario(funcionario.CodFun)"><ion-icon name="close-outline"></ion-icon></ion-button>
            </ion-item>
          </form>
        </ng-container>
        </ion-list>

        

        <!-- ION MODAL  -->
        <ion-modal trigger="open-modal">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Formulário de Cadastro</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-item>

                <form #cadastrar_funcionario = 'ngForm' (ngSubmit)="cadastrarNovoFuncionario(cadastrar_funcionario.value)">
     
                    <ion-input label="Nome:" fill="solid" ngModel name="nome"></ion-input>
             
                    <ion-input label="Sobrenome:" fill="solid" ngModel name="sobrenome"></ion-input>

                    <ion-input label="Cargo:" fill="solid" ngModel name="cargo"></ion-input>
          
                    <ion-input label="Salário:" fill="solid" ngModel name="salario"></ion-input>
      
                    <ion-input label="Data de Nasc:" fill="solid" ngModel name="dataNasc" type="date"></ion-input>

                    <ion-input label="País:" fill="solid" ngModel name="pais"></ion-input>

                    <ion-input label="Cidade:" fill="solid" ngModel name="cidade"></ion-input>

                    <ion-input label="CEP:" fill="solid" ngModel name="cep"></ion-input>

                    <ion-input label="Endereço:" fill="solid" ngModel name="endereco"></ion-input>

                    <ion-input label="Telefone:" fill="solid" ngModel name="fone"></ion-input>


                  <ion-button type="submit" color="success" expand="full">Cadastrar</ion-button>
                </form>
                
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-modal>

      <!-- FIM ION MODAL-->



      </ion-col>
    </ion-row>



  

</ion-content>